#main {
	color: white;
	width: 100vw;
	height: 100vh;
	z-index: 99999;
	position: absolute;
	overflow-x: hidden;
	overflow-y: hidden;
}

#main > #brand {
	padding: 1rem 0;
	text-align: center;
	background-color: white;
	margin-bottom: 2rem;
}

#main > #brand img.brand {
	height: auto;
}

#main > #body {
	overflow-y: auto;
	padding-bottom: 2rem;
}

#particles-background {
	width: 100vw;
	height: 100vh;
	z-index: initial;
	position: relative;
	background-color: black;
}

#particles-background > #particles-clip {
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: auto;
	object-fit: cover;
	background-size: cover;
	position: absolute;
	height: 100vh;
}

.card {
	color: white;
	/*background-color: #ffffff08;*/
	background-color: #1b1c22AA;
	border: none;
}

.card > .card-img-top {
	margin-bottom: 5rem;
	background-color: #25262c;
}

.card > .card-img-top > img {
	width: 40%;
	height: auto;
	position: relative;
	transform: translateY(50%);
	border: 5px solid #1b1c2288;
}

.card > .card-body > .card-text {
	overflow-y: hidden;
	text-overflow: ellipsis;
	height: 6em;
}

.btn-link {
	color: #ec1d24;
}

.btn-link:hover {
	color: #bb2d3b;
}

.page-item .page-link {
	color: white;
	background-color: transparent;
	border-color: transparent;
}

.page-item.disabled .page-link {
	background-color: transparent;
	border-color: transparent;
}

.page-item.active .page-link {
	border-color: #ec1d24;
	background-color: #ec1d24;
}

.iplace {
	text-align: center;
	position: relative;
	padding-top: 8%;
	padding-bottom: 8%;
}

.loading {
	width: 100px;
	height: 100px;
	margin: auto;
	border: 5px solid #f2f2f238;
	border-top-color: #f2f2f2;
	border-radius: 50%;
	animation: spin 1s linear infinite;
}

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
	margin-left: 10px;
}

::-webkit-scrollbar-track-piece {
	background-color: rgba(255, 255, 255, .1);
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, .2);
}

::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255, 255, 255, .4);
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

@media (max-width: 576px) {
	#main > #brand img.brand {
		width: 20vw;
	}

	#main > #body {
		height: 80vh;
	}
}

@media (min-width: 576px) {
	#main > #brand img.brand {
		width: 20vw;
	}

	#main > #body {
		height: 80vh;
	}
}

@media (min-width: 768px) {
	#main > #brand img.brand {
		width: 15vw;
	}

	#main > #body {
		height: calc(100vh - 100px);
	}
}

@media (min-width: 992px) {
	#main > #brand img.brand {
		width: 10vw;
	}

	#main > #body {
		height: calc(100vh - 70px);
	}
}

@media (min-width: 1200px) {
	#main > #brand img.brand {
		width: 5vw;
	}

	#main > #body {
		height: calc(100vh - 70px);
	}
}

@media (min-width: 1400px) {
	#main > #brand img.brand {
		width: 5vw;
	}

	#main > #body {
		height: calc(100vh - 80px);
	}
}
